@tailwind base;
@tailwind components;
@tailwind utilities;
@layer base {
  :root {
    /* Name: custom color palette
       Author: Ilias Ism
       URL: https://gradient.page */

    /* CSS: .bg-gradient { background: var(--gradient) } */
    --gradient: linear-gradient(to top left,#40E0D0,#FF8C00,#FF0080);

    --background: 185 46.8% 4.48%;
    --foreground: 185 7.199999999999999% 97.8%;

    --muted: 185 36% 16.8%;
    --muted-foreground: 185 7.199999999999999% 55.6%;

    --popover: 185 50.6% 7.280000000000001%;
    --popover-foreground: 185 7.199999999999999% 97.8%;

    --card: 185 50.6% 7.280000000000001%;
    --card-foreground: 185 7.199999999999999% 97.8%;

    --border: 185 36% 16.8%;
    --input: 185 36% 16.8%;

    --primary: 185 72% 56%;
    --primary-foreground: 185 7.199999999999999% 5.6000000000000005%;

    --secondary: 185 36% 16.8%;
    --secondary-foreground: 185 7.199999999999999% 97.8%;

    --accent: 185 36% 16.8%;
    --accent-foreground: 185 7.199999999999999% 97.8%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 185 7.199999999999999% 97.8%;

    --ring: 185 72% 56%;
  }
}

html {
  background-color: rgb(63 63 70);
}